@import "/src/assets/scss/main.scss";
.sidebar .sidebar-menu > ul > li.submenu ul.show, .show, .sidebar.sidebar-four ul ul.show {
  display: block;
}

.sidebar .sidebar-menu > ul > li.submenu ul.hide, .hide, .sidebar.sidebar-four ul ul.hide{
  display: none;
}

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input,select{
border-radius: 10px !important;
}